@model XrmPro_MVC.Models.StudentModel
<h2>Add</h2>
<hr />
<form asp-action="Add">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row align-items-center form-group">
        <label asp-for="Id" class="col-1 control-label"></label>
        <input asp-for="Id" class="col-6 form-control" />
        <span asp-validation-for="Id" class="col-auto text-danger text-danger-inline"></span>
    </div>
    <div class="row align-items-center form-group">
        <label asp-for="Name" class="col-1 control-label"></label>
        <input asp-for="Name" class="col-6 form-control" />
        <span asp-validation-for="Name" class="col-auto text-danger text-danger-inline"></span>
    </div>
    <div class="row align-items-center form-group">
        <label asp-for="Email" class="col-1 control-label"></label>
        <input asp-for="Email" class="col-6 form-control" />
        <span asp-validation-for="Email" class="col-auto text-danger text-danger-inline"></span>
    </div>
    <div class="row align-items-center form-group">
        <label asp-for="Git" class="col-1 control-label"></label>
        <input asp-for="Git" class="col-6 form-control" />
        <span asp-validation-for="Git" class="col-auto text-danger text-danger-inline"></span>
    </div>
    <div class="row form-group">
        <input type="submit" value="Create" class="btn btn-default" />
    </div>
</form>

<div>
    <a asp-action="ViewAll">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
